/* Main menu */
.menu-main {
  font-family: Jaapokki, sans-serif;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  background: #fff8e0;

  line-height: 4.5em;
  text-align: center;
}

/* Menu buttons */
.button-home,
.button-products,
.button-contact {
  display: inline-block;
  margin: 0 1em;
  cursor: pointer;

  line-height: 1.5em;
  padding: 0.5em 1em;
  border: 1px solid black;
}

/* Left aligned logo */
.img-logo {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  height: 4.5em;
  width: auto;
  border-right: 1px solid black;
}

