.loader-container {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #fff8e0;
}

.loader-container.loaded {
  display: none;
}

.loader-container .loader,
.loader-container .loader:before,
 .loader-container .loader:after {
   /*  background: #000;
     -webkit-animation: load1 1s infinite ease-in-out;
     animation: load1 1s infinite ease-in-out;
     width: 1em;
     height: 4em;*/
 }
.loader-container .loader:before,
.loader-container .loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader-container .loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader-container .loader {
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader-container .loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0 #000;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em #000;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0 #000;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em #000;
    height: 5em;
  }
}
