{{#beer-products}}
  <div class="mix products-{{category-name}} img-product-{{beer-name}}" data-my-order="{{order}}">
    <div class="loader-container">
      <div class="loader"></div>
    </div>
    <img src="images/etiketter/cropped/Graff_{{file-name}}.png">
    <div class="overlay"></div>
  </div>
{{/beer-products}}
