@font-face {
  font-family: Jaapokki;
  src: url('../fonts/Jaapokki/jaapokki-regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Jaapokki/jaapokki-regular.woff') format('woff'), /* Pretty Modern Browsers */
  url('../fonts/Jaapokki/jaapokki-regular.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('../fonts/Jaapokki/jaapokki-regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/FontAwesome/fontawesome-webfont.eot?v=4.4.0');
  src: url('../fonts/FontAwesome/fontawesome-webfont.eot?#iefix&v=4.4.0') format('embedded-opentype'),
    url('../fonts/FontAwesome/fontawesome-webfont.woff2?v=4.4.0') format('woff2'),
    url('../fonts/FontAwesome/fontawesome-webfont.woff?v=4.4.0') format('woff'),
    url('../fonts/FontAwesome/fontawesome-webfont.ttf?v=4.4.0') format('truetype'),
    url('../fonts/FontAwesome/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  overflow: hidden;
  margin: 0;
}

.wrapper {
  position: relative;
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
  -webkit-transition: 0.6s -webkit-transform ease-in;
  transition: 0.6s transform ease-in;
}

.wrapper.show-products {
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
}

.wrapper.show-contact {
  -webkit-transform: translateY(-200%);
  -ms-transform: translateY(-200%);
  transform: translateY(-200%);
}

.home,
.products,
.contact {
  position: absolute;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.products {
  top: 100%;
  background: #fff8e0;
}

.contact {
  top: 200%;
}

.img-home,
.img-products {
  position: relative;
  width: 100%;
  height: auto;
}

.img-contact {
  position: relative;
  top: -220px;
}

/* Color schemes */
body .footer {
  -webkit-transition: background-color 0.8s ease-out;
  transition: background-color 0.8s ease-out;
}

body.dunkel .footer {
  background-color: rgb(111, 77, 60);
}

body.helles .footer {
  background-color: rgb(215, 159, 58);
}

body.portland .footer {
  background-color: rgb(176, 122, 83);
}

body.redhead .footer {
  background-color: rgb(156, 58, 65);
}

body.session .footer {
  background-color: rgb(116, 185, 165);
}

body.stillehav .footer {
  background-color: rgb(118, 155, 175);
}

body.stout .footer {
  background-color: rgb(62, 53, 43);
}
